/mopshub_lib/work/*
!/mopshub_lib/work/

/mopshub_testbench/work/transcript.txt*
/mopshub_testbench/work/*
!/mopshub_testbench/work/

/mopshub_testbench/mopshub_testbench/work/*
!/mopshub_testbench/mopshub_testbench/work/

/vivado/mopshub_readout/mopshub_readout*
/vivado/mopshub_readout/.Xil*
/vivado/mopshub_readout/webtalk*
!/vivado/mopshub_readout/

/vivado/mopshub_v1/mopshub_board_v1*
/vivado/mopshub_v1/.Xil*
/vivado/mopshub_v1/webtalk*
!/vivado/mopshub_v1/

/vivado/mopshub_v2/mopshub_board_v2*
/vivado/mopshub_v2/.Xil*
/vivado/mopshub_v2/webtalk*
!/vivado/mopshub_v2/


/vivado/mopshub_v3/mopshub_board_v3*
/vivado/mopshub_v3/.Xil*
/vivado/mopshub_v3/webtalk*
!/vivado/mopshub_v3/

/vivado/mopshub_v3TMR/mopshub_board_v3TMR*
/vivado/mopshub_v3TMR/.Xil*
/vivado/mopshub_v3TMR/webtalk*
!/vivado/mopshub_v3TMR/
