/mopshub_lib/work/*
!/mopshub_lib/work/
/mopshub_testbench/mopshub_testbench/work/*
!/mopshub_testbench/mopshub_testbench/work/
/Vivado/mopshub_readout_board/*
!/Vivado/mopshub_readout_board/
/Vivado/mopshub_board/*
!/Vivado/mopshub_board/


