[submodule "ipbus-firmware"]
	path = ipbus-firmware
	url = git@github.com:ipbus/ipbus-firmware.git
[submodule "/home/dcs/git/mopshub/mopshub-triplicated"]
	path = /home/dcs/git/mopshub/mopshub-triplicated
	url = git@github.com:ahmedqamesh/mopshub.git
