[submodule "ipbus-firmware"]
	path = ipbus-firmware
	url = git@github.com:ipbus/ipbus-firmware.git
[submodule "mopshub-triplicated"]
	path = mopshub-triplicated
	url = git@github.com:ahmedqamesh/mopshub.git
[submodule "mopshub-canakari"]
	path = mopshub-canakari
	url = git@github.com:ahmedqamesh/mopshub-canakari.git
[submodule "CANAkari"]
	path = CANAkari
	url = MOPSgit@chips.physik.uni-wuppertal.de:/home/MOPSgit/gitrepos/CANAkari.git
[submodule "mopshub-reconfig"]
	path = mopshub-reconfig
	url = git@github.com:LucasFHDortmund/mopshub-reconfig.git

[submodule "mopshub-seu-test"]
	path = mopshub-seu-test
	url = git@github.com:ahmedqamesh/mopshub-seu-test.git
[submodule "mopshub_triplicated"]
	path = mopshub_triplicated
	url = git@github.com:LucasFHDortmund/mopshub_triplicated.git
