[submodule "ipbus-firmware"]
	path = ipbus-firmware
	url = git@github.com:ipbus/ipbus-firmware.git
[submodule "mopshub-triplicated"]
	path = mopshub-triplicated
	url = git@github.com:ahmedqamesh/mopshub.git
[submodule "canakari-mopshub"]
	path = canakari-mopshub
	url = git@github.com:ahmedqamesh/canakari-mopshub.git
