/mopshub_lib/work/*
!/mopshub_lib/work/

/mopshub_testbench/mopshub_testbench/work/*
!/mopshub_testbench/mopshub_testbench/work/

/Vivado/mopshub_readout/mopshub_readout*
/Vivado/mopshub_readout/.Xil*
!/Vivado/mopshub_readout/

/Vivado/mopshub_v1/mopshub_v1*
/Vivado/mopshub_v1/.Xil*
!/Vivado/mopshub_v1/

/Vivado/mopshub_v2/mopshub_v2*
/Vivado/mopshub_v2/.Xil*
!/Vivado/mopshub_v2/





